@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;
@use '@nebular/auth/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
  @include nb-auth-global();
};
/* You can add global styles to this file, and also import other style files */

.danger{
  color: red;
}

.text-right {
  justify-content: right;
  text-align: right;
  width: 100%;
  display: flex;
}

.is-toggled {
  margin: 5% 0 0 20%;
}

.is-not-toggled {
  margin: 5% 0 0 5%;
}
