<app-header></app-header>
<nb-card class="mt-75">
	<nb-card-body>
		<nb-stepper orientation="horizontal">

			<nb-step [label]="labelOne">
				<ng-template #labelOne>Basic Details</ng-template>
				<app-master-form [btnTitle]="'Next'" [fields]="initForm" (onSubmit)="onSubmit($event)" [formName]="'Init Form'">
				</app-master-form>
			</nb-step>

			<nb-step label="Functional App">
				<app-master-form [btnTitle]="'Next'" [fields]="functionForm" (onSubmit)="onSubmit($event)"
					[formName]="'Init Form'">
				</app-master-form>
			</nb-step>

			<nb-step label="Cosmos DB">
				<app-master-form [btnTitle]="'Next'" [fields]="consmoForm" (onSubmit)="onSubmit($event)"
					[formName]="'Init Form'">
				</app-master-form>
			</nb-step>

			<nb-step label="SQL Database">
				<app-master-form [btnTitle]="'Next'" [fields]="sqlForm" (onSubmit)="onSubmit($event)" [formName]="'Init Form'">
				</app-master-form>
			</nb-step>

			<nb-step label="FINISH">
				<h1>Review</h1>
			</nb-step>

		</nb-stepper>
	</nb-card-body>
</nb-card>